*{
	padding: 0;
	margin: 0;
}
h3{
	position: relative;
	text-align: center;
	color: #544F44;
	top:200px;
}
#stage{
	cursor: pointer;
	position: relative;
	top:calc(50%-90px);
	left: calc(50%-250px);
	width: 500px;
	height: 180px;
	perspective: 1000px;
}
#wrap{
	height: 180px;
	width: 350px;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	transform-style: preserve-3d;
}
#wrap .coursel{
	height: 180px;
	width: 350px;
	position: absolute;
	-webkit-background-size: cover;
	background-size: cover;
}